{% extends 'base.html' %}

{% load static %}

{% block lego %}

 {% load humanize %}
<!--  humanize is to turn intergers and floats to presentable data like adding commas and dots to them-->


<div class="jumbotron">
  <h1 class="display-4">World Diseases</h1>
  <p class="lead">Help the World Fight them!.</p>
  <hr class="my-4">
  <p>Use our website to help you navigate a sea of world charities.</p>
</div>
<!--'https://i.ebayimg.com/images/g/ElUAAOSwn9Fddprd/s-l300.jpg' add if image not found-->


<div class="optionstoselectyear" >

</div>


<form method="POST">
  {% csrf_token %}
  <div class="optionstoselectyear" >
  <select name="year">
    <option value="2020">2020</option>
    <option value="2019">2019</option>
    <option value="2018">2018</option>
    <option value="2017">2017</option>
  </select>
     <select name="location">
    <option value="World">World</option>
    {% for country in countries %}
    <option value="{{country.name}}">{{country.name}}</option>
    {% endfor %}
  </select>
  <button type="submit">Submit</button>
</div>
</form>


<div class="stats-table">
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Disease</th>
      <th scope="col">Deaths/year</th>
      <th scope="col">Sufferers/year</th>
        <th scope="col">Funding/year(USD)</th>
    </tr>
  </thead>
  <tbody>
  {% for disease in diseases %}
    <tr>
      <td><a id="disease" href="{% url 'disease_details' id=disease.id %}">{{disease.name}}</a></td>
      <td>{{disease.gdeaths|intcomma}}</td>
      <td>{{disease.gsuffer|intcomma}}</td>
      <td>${{disease.gfunding|intcomma}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>



<style>
    .jumbotron{
     background-image: url("https://thenypost.files.wordpress.com/2019/07/congo-ebola.jpg?quality=80&strip=all&w=618&h=410&crop=1");
     background-size: cover;
     color: white;
    }

    #disease{
    color: black;
    }

</style>

{% endblock %}